
/digitalib-api-interna/target
/digitalib-api-interna-client/target
/digitalib-back/target
/digitalib-commons/target
/digitalib-ear/target
/digitalib-ejb/target
/digitalib-model/target
/digitalib-persistence/target


/digitalib-api-interna/.classpath
/digitalib-api-interna-client/.classpath
/digitalib-back/.classpath
/digitalib-commons/.classpath
/digitalib-ear/.classpath
/digitalib-ejb/.classpath
/digitalib-model/.classpath
/digitalib-persistence/.classpath


/digitalib-api-interna/.project
/digitalib-api-interna-client/.project
/digitalib-back/.project
/digitalib-commons/.project
/digitalib-ear/.project
/digitalib-ejb/.project
/digitalib-model/.project
/digitalib-persistence/.project


/digitalib-api-interna/.settings
/digitalib-api-interna-client/.settings
/digitalib-back/.settings
/digitalib-commons/.settings
/digitalib-ear/.settings
/digitalib-ejb/.settings
/digitalib-model/.settings
/digitalib-persistence/.settings
/digitalib-api-interna-client/settings.gradle
/digitalib-api-interna-client/.github
/digitalib-api-interna-client/.openapi-generator
/digitalib-api-interna-client/gradle
/digitalib-api-interna-client/.openapi-generator-ignore
/digitalib-api-interna-client/.project
/digitalib-api-interna-client/.travis.yml
/digitalib-api-interna-client/build.gradle
/digitalib-api-interna-client/build.sbt
/digitalib-api-interna-client/gradle.properties
/digitalib-api-interna-client/gradlew
/digitalib-api-interna-client/gradlew.bat
/rungenapp/lastconfig.properties
/rungenapp/genapp.log
/digitalib-api-interna-client/git_push.sh
/2023-09-29 Primer Escaneig DigitalIB 2.0.0 amb DWT.pdf
/2023-09-29 Primer Escaneig DigitalIB 2.0.0.pdf
/digitalib-api-interna-client/1_scanfile.application.pdf
/digitalib-api-interna-client/1_signed.Transaccio_Exemple_1696496545855_1_#2-signed.pdf
/digitalib-api-interna-client/SEPARADOR.pdf
/digitalib-back/test.properties
/digitalib-api-interna-client/test.properties
