
/digitalib-api-externa/target
/digitalib-api-externa-client/target
/digitalib-back/target
/digitalib-commons/target
/digitalib-ear/target
/digitalib-ejb/target
/digitalib-model/target
/digitalib-persistence/target


/digitalib-api-externa/.classpath
/digitalib-api-externa-client/.classpath
/digitalib-back/.classpath
/digitalib-commons/.classpath
/digitalib-ear/.classpath
/digitalib-ejb/.classpath
/digitalib-model/.classpath
/digitalib-persistence/.classpath


/digitalib-api-externa/.project
/digitalib-api-externa-client/.project
/digitalib-back/.project
/digitalib-commons/.project
/digitalib-ear/.project
/digitalib-ejb/.project
/digitalib-model/.project
/digitalib-persistence/.project


/digitalib-api-externa/.settings
/digitalib-api-externa-client/.settings
/digitalib-back/.settings
/digitalib-commons/.settings
/digitalib-ear/.settings
/digitalib-ejb/.settings
/digitalib-model/.settings
/digitalib-persistence/.settings
/digitalib-api-externa-client/settings.gradle
/digitalib-api-externa-client/.github
/digitalib-api-externa-client/.openapi-generator
/digitalib-api-externa-client/gradle
/digitalib-api-externa-client/.openapi-generator-ignore
/digitalib-api-externa-client/.project
/digitalib-api-externa-client/.travis.yml
/digitalib-api-externa-client/build.gradle
/digitalib-api-externa-client/build.sbt
/digitalib-api-externa-client/gradle.properties
/digitalib-api-externa-client/gradlew
/digitalib-api-externa-client/gradlew.bat
/rungenapp/lastconfig.properties
/rungenapp/genapp.log
/digitalib-api-externa-client/git_push.sh
/2023-09-29 Primer Escaneig DigitalIB 2.0.0 amb DWT.pdf
/2023-09-29 Primer Escaneig DigitalIB 2.0.0.pdf
