/back/src/main/resources/digitalib_genapp_ca.properties
/back/src/main/resources/digitalib_genapp_es.properties
/back/src/main/resources/genapp_ca.properties
/back/src/main/resources/genapp_es.properties
/back/src/main/resources/logicmissatges_ca.properties
/back/src/main/resources/logicmissatges_es.properties
/utils/.classpath
/utils/.project
/utils/.settings
/back/.project
/back/.settings
/back/.classpath
/ear/target
/ejb/.project
/ejb/.settings
/ejb/.classpath
/jpa/.project
/jpa/.settings
/jpa/.classpath
/logic/.project
/logic/.settings
/logic/.classpath
/model/.project
/model/.settings
/model/.classpath
/persistence/jta/target
/persistence/reslocal/target
/testjpa/.classpath
/testjpa/.project
/testjpa/.settings
/testjpa/target
/back/target
/ejb/target
/jpa/target
/logic/target
/model/target
/utils/target
/logic/src/main/resources/digitalib_genapp_ca.properties
/logic/src/main/resources/digitalib_genapp_es.properties
/logic/src/main/resources/genapp_ca.properties
/logic/src/main/resources/genapp_es.properties
/genapp/genapp.log
/scanwebsimple/apiscanwebsimple/.classpath
/scanwebsimple/apiscanwebsimple/.gitignore
/scanwebsimple/apiscanwebsimple/.project
/scanwebsimple/apiscanwebsimple/.settings/org.eclipse.core.resources.prefs
/scanwebsimple/apiscanwebsimple/.settings/org.eclipse.jdt.core.prefs
/scanwebsimple/apiscanwebsimple/.settings/org.eclipse.m2e.core.prefs
/scanwebsimple/compil.bat
/scanwebsimple/doc
/scanwebsimple/exempleapiscanwebsimple-war
/.project
/.settings/org.eclipse.m2e.core.prefs
/back/.tern-project

/scanwebsimple/apiscanwebsimple/target
/scanwebsimple/apiscanwebsimple/.settings
/scanwebsimple/apiscanwebsimple/scanfile.pdf
/scanwebsimple/apiscanwebsimple/detached_sign_scanfile.sig
/genapp/lastconfig.properties
/scripts/sqlgenerator/shortNames.properties
/scripts/sqlgenerator/genapp.log
/scripts/sqlgenerator/digitalib_create_schema_caib.sql
/scripts/sqlgenerator/digitalib_create_schema.sql
/scripts/bbdd/1.0.0/postgresql/digitalib-all.sql
/scanwebsimple/.project
/scanwebsimple/.settings/org.eclipse.m2e.core.prefs
/scripts/bbdd/1.0.0/postgresql/seycon-all.sql
/genapp/genapp.log.1
/back/src/main/webapp/img/caib.ico
/back/src/main/webapp/img/spinner_80.gif
/scanwebsimple/apiscanwebsimple-example-console/.project
/scanwebsimple/apiscanwebsimple-example-console/.settings
/scanwebsimple/apiscanwebsimple-example-console/target
/scanwebsimple/apiscanwebsimple-example-console/.classpath
/scanwebsimple/apiscanwebsimple-example-war
/scanwebsimple/apiscanwebsimple-example-console/.settings
/scanwebsimple/apiscanwebsimple-example-console/target
/scanwebsimple/apiscanwebsimple-example-console/apiscanwebsimple.properties
/scanwebsimple/apiscanwebsimple-example-console/.classpath
/scanwebsimple/apiscanwebsimple-example-console/.project
/apiscanwebsimple/apiscanwebsimple-api/detached_sign_scanfile.sig
/apiscanwebsimple/apiscanwebsimple-api/.classpath
/apiscanwebsimple/apiscanwebsimple-api/.gitignore
/apiscanwebsimple/apiscanwebsimple-api/.project
/apiscanwebsimple/apiscanwebsimple-example-console/.project
/apiscanwebsimple/apiscanwebsimple-example-console/apiscanwebsimple.properties
/apiscanwebsimple/apiscanwebsimple-example-console/.classpath
/apiscanwebsimple/apiscanwebsimple-example-console/.gitignore
/apiscanwebsimple/apiscanwebsimple-example-console/.settings
/apiscanwebsimple/apiscanwebsimple-api/.settings
/apiscanwebsimple/apiscanwebsimple-api/.classpath
/apiscanwebsimple/apiscanwebsimple-api/.project
/apiscanwebsimple/apiscanwebsimple-api/detached_sign_scanfile.sig
/apiscanwebsimple/apiscanwebsimple-example-war
/apiscanwebsimple/compil.bat
/apiscanwebsimple/apiscanwebsimple-api/scanfile.pdf
/apiscanwebsimple/apiscanwebsimple-example-console/scanfile.pdf
/apiscanwebsimple/apiscanwebsimple-jersey/scanfile.pdf
/apiscanwebsimple/apiscanwebsimple-jersey/.settings
/apiscanwebsimple/apiscanwebsimple-jersey/target
/apiscanwebsimple/apiscanwebsimple-jersey/.classpath
/apiscanwebsimple/apiscanwebsimple-jersey/.project
/apiscanwebsimple/apiscanwebsimple-jersey/detached_sign_scanfile.sig
/scripts/config/digitalib-mailsqueue-service.xml
/apiscanwebsimple/apiscanwebsimple-example-console/src/main/java/org/fundaciobit/apisib/apiscanwebsimple/exampleconsole/JsonSchemaGenerator.java
